.input {
    padding: 1em;
    margin: 0.25em;

    border: 1px solid var(--primary-color);
    border-radius: 0.25em;

    transition: border-color 150ms;
    background-color: var(--input-background);
    color: var(--text-color);
    font-size: medium;
}

.input:focus{
    outline: none;
    border-color: var(--primary-color-dark)
}