* {
    margin:0;
    padding: 0;
    font-family: 'Karla', sans-serif;

    --primary-color: #4db6ac;
    --primary-color-light: #82e9de;
    --primary-color-dark: #00867d;

    --secondary-color: #bdbdbd;
    --secondary-color-light: #efefef;
    --secondary-color-dark: #8d8d8d;
}

#___gatsby {
    height: 100vh;
}
#___gatsby > div {
    height: 100%;
}

h1 {
    font-family: 'Unica One', serif;
    font-weight: 100;
    font-size: 40px;
    color: black;
}

h2, h3, h4 {
    font-family: 'Spectral', serif;
    font-weight: 100;
    color: black;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-family: 'Karla', sans-serif;
}

p {
    margin-top: 1em;
    margin-bottom: 1em;
}
