.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    
    padding: 1em;
    width: calc(100%-2em);

    background-color: var(--primary-color);
    border-top: 1em solid var(--primary-color-dark);
}

.nav-left,
.nav-center,
.nav-right {
    width: 33.3%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-display: swap;
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;

    text-decoration: none;
}