.container {
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.link {
    padding-left: 0.5em;
    padding-right: 0.5em;
}