.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    
    padding: 1em;
    width: calc(100%-2em);
}

.title {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    text-decoration: none;
}