.bottom-nav {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: var(--background-color) !important;
}

.wrapper:not(.selected) > *{
    color: var(--text-color)
}

.selected > *{
    color: var(--primary-color);
}
