.subtitle {
    padding: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
    
    background-color: var(--secondary-color-light);
    width: calc(100% - 2em);

    display: flex;
    justify-content: center;
    align-items: center;
}