.container {
    display: flex;
    justify-content: center;
    align-items: center;
} 

.theme {
    font-size: small;
}

.name {
    margin: 0.5em
}

.name--small {
    font-size: xx-small;
}
.name--medium {
    font-size: 'x-small'
}
.name--large {
    font-size: 'small'
}